* {
  box-sizing: border-box;
}
body {
  margin: 0;
}


/****************** Logo Style *********************/

.logo-svg {
  height: 100%;
  width: 100%;
  padding: 0 50px;
}

#hair{
  animation: slide-face 1s ease-out forwards;
}

.tags {
  animation: rotation 2s linear forwards;
}

.eyes-svg {
  transform: scale(0);
  animation: eyes-animation 1s ease-out forwards 2s;
}
@keyframes slide-face {
   0% {
    transform: scale(0);
   }
   90% {
    transform: scale(1.2);
   }
 }

 @keyframes rotation {
    0% {
      transform: scale(0) rotateY(0);
    }
    50% {
      transform: rotateY(180deg);
    }
    90% {
     transform: rotateY(250deg) scale(1.1);
    }
    100% {
      transform: rotateY(360deg) scale(1);
    }
  }

  @keyframes eyes-animation {
     80% {
       transform: scale(2) translateY(-60px);
       fill: white;
     }
     90% {
      transform: scale(0.8) translateY(20px);
     }
     100% {
       transform: scale(1);
     }
   }

/****************** Name Style *********************/
.name-svg {
  height: 100%;
  width: 100%;
  padding: 0 25px;
}

#name * {
  stroke: black;
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
  animation: offset 3s linear forwards, fill-it 0.5s linear forwards 3s;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: black;
    strock: transparent;
  }
}

#role * {
  fill-opacity: 0;
  transform: translate3d(0,50px,0);
  animation: role-it 1s ease-out 2s forwards;
}

#lines {
  transform: scale(0);
  animation: lines-up 1s ease-out 1s forwards;
}

@keyframes lines-up {
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes role-it {
  100% {
  fill-opacity: 1;
  transform: translate3d(0,0,0);
  }
}


/************************* Header *******************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(88, 141, 226, 0.6)), url("background-header.jpg");
  background-size: cover;
  /* padding-bottom: 50px; */
  border-bottom-right-radius: 100%;
}


/*********************** Main *********************/

main {
  padding-top: 20px;
}


/********************* Font-style *****************/

.main-title {
  font-family: 'Merienda One', cursive;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.sub-title {
  font-family: 'Merienda One', cursive;
  font-size: 22px;
  text-align: center;
}

.description {
  font-family: 'Fredericka the Great', cursive;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}


/********************* link-container-SVG *****************/

.link-container {
  display: flex;
}

a svg {
  opacity: 0.7;
  height: auto;
  width: 100%;
  padding: 10px;
  transition: opacity 1s ease-out;
}

a svg:hover {
  opacity: 1;
}


/****************************** projects **************************/

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 80px;
}

.photo-project {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  padding: 40px 20px;
}
@keyframes shrink {
  100% {
    background-size: 300% 300%;
  }
}

.photo-project:hover {
  animation: shrink 2s ease-out forwards;
}


.video-player {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("schermata-video-player.png");
}

.style-guide {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("schermata-style-guide.png");
}

.web-app-dashboard {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("schermata-dashboard-app.png");
}

.game-show-app {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("schermata-play.png");
}

.flickr-app {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("schermata-flickr.png");
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

button {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgba(99, 159, 255, 0.9);
}

button:hover {
  border: 2px solid rgba(99, 159, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}

/************************* Badges ****************************/

.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge svg {
  width: 30px;
}



/************************* Footer ****************************/

footer {
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(99, 159, 255, 0.6));
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}


/************************* Tablet view ********************/

@media (min-width: 700px) {

  .photo-project {
     height: 300px;
   }

   .logo-svg {
     height: 50%;
     width: 50%;
   }

   .name-svg {
     height: 80%;
     width: 80%;
   }

  main {
    padding-top: 80px;
  }
  a svg {
    width: 70px;
  }
  .link-container {
    justify-content: center;
  }

  .info-project {
    display: flex;
    flex-direction: row;
  }

  .description {
    flex: 1;
    padding: 10px 50px;
  }

  .badges {
    flex: 1;
  }
}
